* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  height: 100%; /*100% vom body*/
  width: 80%; /*links und rechts sind 10% ürig*/
  margin: auto; /*möglich auch: margin-left: 10% und margin-right: 10%*/
}

.card {
  border: 1px black dotted; /*border = Rahmen/Grenze / dotted = gepunktet, um jede Karte*/
  margin-top: 1rem;
  margin-left: 16px;
  margin-right: 16px;
}

.card img {
  width: 100%;
  display: block;
}

.card h2 {
  background: #fff;
  padding: 5px;
  font-size: 20px;
}

.row /*reihe*/ {
  display: block;
} /*Blockelement, das sich zeigt*/

/*Media Query schreiben ab 960px ; body soll gelb werden ab 960px*/
@media (min-width: 960px) and (max-width: 1399px) {
  body {
    background-color: yellow;
  }
  .card h2 {
    font-size: 24px;
  }
  .row {
    display: flex;
  }
}
@media (mind-width: 1400px) {
  .card h2 {
    font-size: 32px;
  }
  .row {
    display: block;
  }
}

/*ab h2 font-size*/
/*@ = bedeutet "wenn"*/

.wrapper {
  float: left;
}

/*ab 960px sollen Bilder nebeneinander stehen*/
/*Abstand zwischen den Karten 16px, immer*/
